build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

beta

BCTabBarController.xcodeproj/xcuserdata/honcheng.xcuserdatad/xcschemes/BCTabBarController.xcscheme
BCTabBarController.xcodeproj/xcuserdata/honcheng.xcuserdatad/xcschemes/Example.xcscheme
BCTabBarController.xcodeproj/xcuserdata/honcheng.xcuserdatad/xcschemes/xcschememanagement.plist